<a href="https://colab.research.google.com/github/Shivanikumari0809/Shivani_BigData/blob/main/Assignment_3_12feb_202301060.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
dataset={
    "Tid":["1","2","3","4","5","6","7","8","9","10"],
    "Refund":["Yes","No","No","Yes","No","No","Yes","No","No","No"],
    "Marital Status":["Single","Marreid","Single","Marreid","Devorced","Marreid","Divorced","Single","Marreid","Single"],
    "Taxable Income":["125k","100k","70k","120k","95k","60k","220k","85k","75k","90k"],
    "Cheat":["No","No","No","No","Yes","No","No","Yes","No","Yes"]

}
var = pd.DataFrame(dataset)
print(var)

  Tid Refund Marital Status Taxable Income Cheat
0   1    Yes         Single           125k    No
1   2     No        Marreid           100k    No
2   3     No         Single            70k    No
3   4    Yes        Marreid           120k    No
4   5     No       Devorced            95k   Yes
5   6     No        Marreid            60k    No
6   7    Yes       Divorced           220k    No
7   8     No         Single            85k   Yes
8   9     No        Marreid            75k    No
9  10     No         Single            90k   Yes

In [4]:
import pandas as pd
dataset={
    "Tid":["1","2","3","4","5","6","7","8","9","10"],
    "Refund":["Yes","No","No","Yes","No","No","Yes","No","No","No"],
    "Marital Status":["Single","Marreid","Single","Marreid","Devorced","Marreid","Divorced","Single","Marreid","Single"],
    "Taxable Income":["125k","100k","70k","120k","95k","60k","220k","85k","75k","90k"],
    "Cheat":["No","No","No","No","Yes","No","No","Yes","No","Yes"]

}

# Assuming your DataFrame is named df
# You can create it with your data or load it from a file

# Locate rows 0, 4, 7, and 8
selected_rows = dataset.loc[[0, 4, 7, 8]]

# Print the selected rows
print(selected_rows)

AttributeError: 'dict' object has no attribute 'loc'